body {
    font-family: "Sawarabi Mincho", serif;
    background-color: #c6a87d;
    font-size: 15px;
}


/* タイトルや見出しは少し大きめにして強調 */
h1, h2, h3 {
    font-weight: normal; /* 筆文字風に軽くする */
}

/* 段落の行間を広めにして読みやすく */
p {
    line-height: 1.8;
}


.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

body h2 {
    font-size: 36px;
    /*font-weight: 700;*/
    line-height: 1.3;
    margin-bottom: 18px;
    text-align: left;
}

.en {
    font-size: 30px;
    /*font-weight: 700;*/
    font-family: "Poppins", sans-serif;
    /*color: #8fd025;*/
    margin-bottom: 18px;
}


#cover .container {
    display: flex;
    min-height: 100vh;
}

#cover .photo-area {
    width: 65%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#cover .menu-area {
    width: 35%;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    text-orientation: upright;
}

#cover .title {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#cover .menu {
    text-align: center;
}

/*#cover ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}*/

#cover a {
    margin: 0.5rem 0;
    font-size: 18px;
    /*font-weight: 700;*/
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    width: 260px;
    height: 56px;
    line-height: 56px;
    border-radius: 100px;
}


#activity {
    padding: 70px 0;
    text-align: center;
}

    #activity .text {
        font-size: 1.1rem;
        line-height: 2;
        margin-bottom: 60px;
    }

    #activity a {
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        background-color: #000000;
        display: inline-block;
        width: 260px;
        height: 56px;
        line-height: 53px;
        border-radius: 100px;
        text-align: center;
    }


#events {
    padding: 70px 0;
    text-align: center;
}
    #events .row {
        display: flex;
        gap: 2%;
    }

    /*#events .row {
        margin-top: 30px;
    }*/

    #events .col:first-child {
        width: 45%;
    }

    #events .col:last-child {
        width: 55%;
    }

    #events img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    #events h3 {
        display: inline-block;
        background-color: #ffdeca;
        padding: 0.5rem 1rem;
        border-radius: 100px;
        font-size: 20px;
        /*font-weight: 700;*/
        color: #000;
        width: 100%;
    }


    #events .text {
        text-align: left;
        line-height: 1.5;
    }


#notice {
    padding: 70px 0;
}

    #notice h4 {
        font-size: 20px;
        /*font-weight: 700;*/
        padding: 10px 30px;
        margin-bottom: 15px;
        border-radius: 100px;
        background: #ffdeca;
        max-width: 25%;
    }

    #notice .text {
        line-height: 2;
    }


#contact {
    padding: 70px 0;
    text-align: center;
}

    #contact .text {
        max-width: 500px;
        margin: 0 auto 36px;
        text-align: left;
        line-height: 2;
    }



footer {
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    padding: 30px 0;
    background-color: #000000;
}
